<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/download.png">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>
            I created this site for learning purposes. This site is built using nodeJs.
            Also it is using some built in apis like mapbox and darksky.net.
        </p>

    </div>

    {{>footer}}
</body>

</html>